<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FamilyKontrol.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FamilyKontrol.Properties.Settings>
            <setting name="ParentMail" serializeAs="String">
                <value />
            </setting>
            <setting name="ChildMail" serializeAs="String">
                <value />
            </setting>
            <setting name="ChildPass" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstLoginDate" serializeAs="String">
                <value />
            </setting>
            <setting name="LastLoginDate" serializeAs="String">
                <value />
            </setting>
            <setting name="h" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="m" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s" serializeAs="String">
                <value>0</value>
            </setting>
        </FamilyKontrol.Properties.Settings>
    </userSettings>
</configuration>